/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --title-decor-text:#000028;
  --title-font-color: #DB00FF;
  --background-image: url('../images/cover-image-dark.png');
  --main-cards-text-color: #F1B2CE;
  --button-when-hover: #FF007066;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__rec{
  display: flex;
}