/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --title-decor-text:#353430;
  --title-font-color: #FFC2E6;
  --background-image: url('../images/cover-image-light.png');
  --main-cards-text-color: #353430;
  --button-when-hover: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */  
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --title-decor-text:#353430;
    --title-font-color: #FFC2E6;
    --background-image: url('../images/cover-image-light.png');
    --main-cards-text-color: #353430;
    --button-when-hover: #32312D66;  
  }
  .header__rec{
    display: none;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
.theme-light .header__rec{
  display: none;
}